@namespace HITSBlazor.Components.Modals.CenterModals.UsersGroupModal
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Inputs.CheckboxDropdown
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Modals.Components.CenterModalHeader
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.UsersColumn
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Utils.Models

<div @onclick:stopPropagation="true" class="users-group-modal p-3 bg-white rounded-3">
    <CenterModalHeader IsLoading="_isLoading" HeaderText="@(UsersGroupId.HasValue ? "Редактирование группы" : "Создание группы")" />
    <Input IsLoading="_isLoading"
           Label="Название группы:"
           Placeholder="Введите название группы"
           @bind-Value="UsersGroupName" />
    <div class="d-flex justify-content-between gap-3">
        <UsersColumn IsLoading="_isLoading"
                     HeaderText="Пользователи:"
                     SelectedUserChanged="SelectUser"
                     DataLoaderMethod="async (page, searchText) => await UserService.GetUsersAsync(page, searchText: searchText)" />
        <UsersColumn IsLoading="_isLoading"
                     HeaderText="@($"Пользователи в группе: {_groupUsers.Count}")"
                     AllUsers="_groupUsers.ToList()"
                     SelectedUserChanged="UnSelectUser" />
    </div>
    <CheckboxDropdown T="EnumViewModel<RoleType>"
                      IsLoading="_isLoading"
                      AllValues="AllRoles"
                      Label="Выберите тип группы:"
                      Placeholder="Выбрано"
                      @bind-SelectedValues="SelectedRoles" />
    <Button Variant="ButtonVariant.Primary"
            IsLoading="_isLoading"
            InProgress="_submitting"
            Text="@(UsersGroupId.HasValue ? "Сохранить изменения" : "Добавить")"
            LoadingText="@(UsersGroupId.HasValue ? "Сохранение" : "Добавление")"
            OnButtonClick="SendUsersGroup" />
</div>