@namespace HITSBlazor.Components.SelectActiveRoleModal
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Services
@using HITSBlazor.Utils
@using HITSBlazor.Utils.EnumTranslators

<div @onclick:stopPropagation="true"
     class="p-3 rounded bg-white"
     style="width: 400px; display: flex; flex-direction: column; flex-wrap: nowrap; align-items: stretch; justify-content: stretch; gap: 12px; align-self: center; justify-self: center; transition: all .15s ease-out;">
    <span class="fs-3 text-primary text-center">Доступные роли</span>
    @foreach (var role in Roles)
    {
        <button type="button" @onclick="() => SetUserRole(role)" class="btn d-flex btn-primary" style="@Styles.Btn">
            @role.GetTranslation()
        </button>
    }
</div>