@namespace HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Utils.Models

<div class="placeholder-glow @Width">
    <span class="placeholder w-100 bg-secondary rounded @heightClass @AdditionalClass" style="@heightStyle"></span>
</div>

@code {
    [Parameter]
    public string Width { get; set; } = "w-100";

    [Parameter]
    public PlaceholderHeight Height { get; set; } = PlaceholderHeight.None;

    [Parameter]
    public string AdditionalClass { get; set; } = string.Empty;

    private string heightClass = string.Empty;
    private string heightStyle = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        heightClass = EnumViewModel<PlaceholderHeight>.GetTranslation(Height);
        heightStyle = EnumViewModel<PlaceholderHeight>.GetStyle(Height);
    }
}