@namespace HITSBlazor.Components.Filters.CheckboxFilter
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Typography
@using HITSBlazor.Utils.Models
@typeparam T where T : ViewModelBase

<div class="w-100">
    @if (IsLoading)
    {
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <Placeholder Width="w-25" />
        }
        @for (int i = 0; i < 6; ++i)
        {
            <Placeholder />
        }
    }
    else
    {
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <Typography FontSize="6" CustomClass="fw-semibold">
                @Label
            </Typography>
        }
        @if (SearchTextChanged.HasDelegate)
        {
            <Input Placeholder="Найти" CustomClass="my-1" Value="@SearchText" ValueChanged="@((value) => SearchData(value))" />
        }
        <div class="list-page-filter-choices">
            @foreach (var value in _values)
            {
                <div class="list-page-filter-choice px-2 py-1 rounded-1" @onclick="() => SelectValue(value)">
                    <div class="d-flex">
                        <input type="checkbox"
                               checked="@SelectedValues.Contains(value)"
                               class="form-check-input" />
                        <Typography CustomClass="form-check-label ms-2">
                            @value.GetDisplayInfo()
                        </Typography>
                    </div>
                </div>
            }
        </div>
    }
</div>