@namespace HITSBlazor.Components.Filters.CheckboxFilter
@using HITSBlazor.Components.Typography
@using HITSBlazor.Utils.Models
@typeparam T where T : ViewModelBase

<div class="w-100">
    <Typography FontSize="6" CustomClass="fw-semibold">
        @Label
    </Typography>
    <div class="list-page-filter-choices">
        @foreach (var value in AllValues)
        {
            <div class="list-page-filter-choice px-2 py-1 rounded-1" @onclick="() => SelectValue(value)">
                <div class="d-flex">
                    <input type="checkbox"
                           checked="@SelectedValues.Contains(value)"
                           class="form-check-input" />
                    <Typography CustomClass="form-check-label ms-2">
                        @value.GetDisplayInfo()
                    </Typography>
                </div>
            </div>
        }
    </div>
</div>