@namespace HITSBlazor.Components.Modals.RightSideModals.RequestToIdeaModal
@using HITSBlazor.Components.Forms.RequestTeamToIdeaForm
@using HITSBlazor.Components.Modals.Components.ModalHeader
@using HITSBlazor.Models.Markets.Entities

<div class="p-3 h-100 overflow-y-scroll flex-column right-side-modal w-50" @onclick:stopPropagation="true">
    <RightSideModalHeader HeaderText="@CurrentIdeaMarket?.Name" />
    @if (CurrentIdeaMarket is not null)
    {
        <RequestTeamToIdeaForm IdeaMarket="CurrentIdeaMarket" ShowSkillsCheckbox="true" />
    }
</div>

@code {
    [Parameter]
    public required IdeaMarket CurrentIdeaMarket { get; set; }
}