@namespace HITSBlazor.Components.InputSearch
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Placeholders.Placeholder

<div class="py-2 d-flex justify-content-between">
    <Input IsLoading="IsLoading" 
           Width="Width" 
           IconStyle="bi-search" 
           Placeholder="Поиск" 
           Value="@Value" 
           ValueChanged="@((value) => ValueChanged.InvokeAsync(value))"
           DebounceDelay="DebounceDelay" />
</div>

@code {
    [Parameter]
    public int Width { get; set; } = 50;

    [Parameter]
    public bool IsLoading { get; set; } = false;

    [Parameter]
    public string Value { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    [Parameter]
    public int DebounceDelay { get; set; } = 0;
}