@namespace HITSBlazor.Components.Typography
@using HITSBlazor.Utils
@using HITSBlazor.Utils.Models

<span class="@GetClass()" @onclick="OnClickHandler">@ChildContent</span>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public int? FontSize { get; set; }

    [Parameter]
    public TextColor? TextColor { get; set; }

    [Parameter]
    public string CustomClass { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    private async Task OnClickHandler(MouseEventArgs args) => await OnClick.InvokeAsync(args);

    private string GetClass()
    {
        var classes = new List<string>();

        if (FontSize.HasValue)
            classes.Add($"fs-{FontSize.Value}");

        if (TextColor.HasValue)
            classes.Add($"text-{TextColor.Value.ToString().ToLower()}");

        if (!string.IsNullOrWhiteSpace(CustomClass))
            classes.Add(CustomClass);

        if (OnClick.HasDelegate)
            classes.Add("data-link");

        return string.Join(" ", classes);
    }
}