@namespace HITSBlazor.Components.Typography
@using HITSBlazor.Components.Icon

<span class="@GetTypographyClass()">
    @ChildContent
</span>

@if (!string.IsNullOrEmpty(Hint))
{
    <Icon ClassName="bi bi-patch-question hint" OnClick="ShowHint" />
}

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? ClassName { get; set; }
    [Parameter] public string? Hint { get; set; }

    private bool isTextProperty = false;

    protected override void OnParametersSet()
    {
        isTextProperty = !string.IsNullOrEmpty(ClassName) && ClassName.Contains("fs");
    }

    private string GetTypographyClass()
    {
        var classes = new List<string>();

        if (!isTextProperty)
            classes.Add("fs-6");

        if (!string.IsNullOrEmpty(ClassName))
            classes.Add(ClassName);

        return string.Join(" ", classes);
    }

    private void ShowHint()
    {
        //TODO: реализовать отображение подсказки
        Console.WriteLine($"Hint: {Hint}");
    }
}