@namespace HITSBlazor.Components.Modals.CenterModals.UpdateEmailModal
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Typography
@using HITSBlazor.Services.Modal
@using HITSBlazor.Utils

<div @onclick:stopPropagation="true"
     class="p-3 rounded-3 shadow center-modal new-email-request-modal bg-white p-3 rounded">
    <div class="d-flex align-items-center justify-content-between">
        <Typography FontSize="3" TextColor="ElementStyle.Primary" CustomClass="text-center">
            Доступные роли
        </Typography>
        <Button BtnType="ButtonType.Button"
                ButtonClass="btn-close"
                OnButtonClick="() => ModalService.Close(ModalType.Center)" />
    </div>
    <!-- TODO: заменить на Input кмпонент -->
    @if (_isEmailRequestSended)
    {
        <div class="w-100">
            <div class="input-group">
                <Typography FontSize="6" CustomClass="input-group-text">
                    <i class="bi bi-fonts"></i>
                </Typography>
                <input type="text"
                       @bind="@_verificationCode"
                       @bind:event="oninput"
                       class="form-control"
                       placeholder="Введите код аутентификации"
                       maxlength="6" />
            </div>
        </div>
        <div class="w-100">
            <div class="input-group">
                <Typography FontSize="6" CustomClass="input-group-text">
                    &#64;
                </Typography>
                <input type="email"
                       @bind="_emailValue"
                       @bind:event="oninput"
                       disabled
                       class="form-control"
                       placeholder="Введите ваш новый email" />
            </div>
        </div>
        <Button BtnType="ButtonType.Button" 
                IsLoading="_isLoading" 
                Variant="ElementStyle.Primary"
                Text="Изменить email"
                LoadingText="Изменение"
                OnButtonClick="VirificateEmailRequest" />
    }
    else
    {
        <div class="w-100">
            <div class="input-group">
                <Typography FontSize="6" CustomClass="input-group-text">
                    &#64;
                </Typography>
                <input @bind="@_emailValue"
                       @bind:event="oninput"
                       type="email"
                       placeholder="Введите ваш новый email"
                       class="form-control rounded-end" />
            </div>
        </div>
        <Button BtnType="ButtonType.Button"
                IsLoading="_isLoading"
                Variant="ElementStyle.Primary"
                Text="Отправить"
                LoadingText="Отправка"
                OnButtonClick="SendNewEmailRequest" />
    }
</div>