@namespace HITSBlazor.Components.Modals.CenterModals.UpdateEmailModal
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Modals.Components.CenterModalHeader
@using HITSBlazor.Components.Typography
@using HITSBlazor.Services.Modal
@using HITSBlazor.Utils.Models

<div @onclick:stopPropagation="true"
     class="p-3 rounded-3 shadow center-modal new-email-request-modal bg-white">
    <CenterModalHeader HeaderText="Доступные роли" />
    @if (_isEmailRequestSended)
    {
        <Input IconStyle="bi-fonts"
               Placeholder="Введите код аутентификации"
               NeedValidation="_submitted"
               MaxLength="6"
               @bind-Value="VerificationCode" />
        <Input IconStyle="&#64;"
               Placeholder="Введите ваш новый email"
               NeedValidation="_submitted"
               IsDisabled="true"
               @bind-Value="EmailValue" />
        <Button InProgress="_isLoading"
                Variant="ButtonVariant.Primary"
                Text="Изменить email"
                LoadingText="Изменение"
                OnButtonClick="VirificateEmailRequest" />
    }
    else
    {
        <Input IconStyle="&#64;"
               Placeholder="Введите ваш новый email"
               NeedValidation="_submitted"
               @bind-Value="EmailValue" />
        <Button InProgress="_isLoading"
                Variant="ButtonVariant.Primary"
                Text="Отправить"
                LoadingText="Отправка"
                OnButtonClick="SendNewEmailRequest" />
    }
</div>