<nav class="navbar navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand">Ideas Manager</a>
        <div class="d-flex">
            <span class="navbar-text me-3">
                Иван Иванов
            </span>
            <button class="btn btn-outline-secondary">Выйти</button>
        </div>
    </div>
</nav>
