<div class="left-sidebar bg-light border-end p-3">
    <h5>Навигация</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-house-door"></i> Главная
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/ideas">
                <i class="bi bi-lightbulb"></i> Идеи
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-people"></i> Команды
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-person-circle"></i> Профиль
            </a>
        </li>
    </ul>
</div>

<style>
    .left-sidebar {
        height: 100vh;
    }
</style>
