@typeparam TItem
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                @foreach (var column in Columns)
                {
                    <th>@column.Label</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Data)
            {
                <tr>
                    @foreach (var column in Columns)
                    {
                        <td>@column.GetValue(item)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public List<TItem> Data { get; set; }

    [Parameter]
    public List<TableColumn<TItem>> Columns { get; set; }

    public class TableColumn<T>
    {
        public string Label { get; set; }
        public Func<T, object> GetValue { get; set; }
    }
}
