@namespace HITSBlazor.Components.ProgressBar
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Typography
@using HITSBlazor.Utils.Models

@if (IsLoading)
{
    <Placeholder />
}
else
{
    <Typography FontSize="6" TextColor="TextColor.Primary">
        @Text: @(Score.HasValue? Score.Value: "вычисление")@($"{new string('.', _dotCount)}")
    </Typography>
    @if (!Score.HasValue)
    {
        <Placeholder />
    }
    else
    {
        <div class="progress w-100 mt-2">
            <div class="progress-bar progress-bar-animated" style="@_progressStyle"></div>
        </div>
    }
}