@namespace HITSBlazor.Components.Modals.RightSideModals.SendIdeaOnMarketModal
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Inputs.RadioDropdown
@using HITSBlazor.Components.Modals.Components.CenterModalHeader
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Ideas.Entities
@using HITSBlazor.Models.Markets.Entities
@using HITSBlazor.Models.Markets.Enums
@using HITSBlazor.Services.IdeaMarkets
@using HITSBlazor.Services.Markets
@using HITSBlazor.Services.Modal

<div class="send-ideas-on-market-modal bg-white rounded p-3" @onclick:stopPropagation="true">
    <CenterModalHeader IsLoading="_isLoading"
                       FontSize="5" 
                       HeaderText="@String.Format("Отправить иде{0} на биржу", IdeaForMarket.Count == 1 ? 'ю' : 'и')" />
    <RadioDropdown T="Market" 
                   IsLoading="_isLoading"
                   AllValues="_market"
                   Label="Биржа"
                   Placeholder="Выберите биржу"
                   @bind-Value="SelectedMarket"
                   DataLoaderMethod="async (page, searchText) => await MarketService.GetMarketsAsync(
                       page,
                       searchText: searchText,
                       selectedStatuses: new HashSet<MarketStatus> { MarketStatus.Active }
                   )"
                   DebounceDelay="500" />
    @if (_isLoading)
    {
        <Placeholder Height="PlaceholderHeight.Smaller" />
    }
    else
    {
        <div class="send-ideas-on-market-modal-ideas d-flex flex-column gap-2 w-100">
            <Typography TextColor="TextColor.Primary" CustomClass="w-100">
                @(IdeaForMarket.Count == 1 ? "Выбранная идея" : "Выбранные идеи")
            </Typography>
            @foreach (var idea in IdeaForMarket)
            {
                <div class="d-flex gap-2 w-100">
                    <Typography CustomClass="w-100 border rounded p-2 text-ellipsis">
                        @idea.Name
                    </Typography>
                    <Button ButtonClass="btn-outline-danger"
                            IconStyle="bi-x"
                            OnButtonClick="() => IdeaForMarket.Remove(idea)" />
                </div>
            }
        </div>
    }
    <Button IsLoading="_isLoading"
            Variant="ButtonVariant.Success" 
            Text="Отправить на биржу"
            OnButtonClick="() => SendIdeas()" />
</div>

@code {
    [Inject]
    private IMarketService MarketService { get; set; } = null!;

    [Inject]
    private IIdeaMarketService IdeaMarketService { get; set; } = null!;

    [Inject]
    private ModalService ModalService { get; set; } = null!;

    [Parameter]
    public ICollection<Idea> IdeaForMarket { get; set; } = [];

    private bool _isLoading = true;

    private List<Market> _market = [];
    private Market? SelectedMarket { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        _isLoading = false;
    }

    private async Task SendIdeas()
    {
        if (SelectedMarket is null) return;

        if (await IdeaMarketService.SendIdeasOnMarket(IdeaForMarket, SelectedMarket))
            await ModalService.Close(ModalType.RightSide);
    }
}