@namespace HITSBlazor.Components
@using HITSBlazor.Services.Modal
@using Microsoft.AspNetCore.Components
@implements IDisposable
@inject ModalService ModalService

@if (IsVisible)
{
    @if (IsBlockCloseModal)
    {
        <div class="modal-layout">
            @if (CurrentComponentType != null)
            {
                <DynamicComponent Type="@CurrentComponentType"
                                  Parameters="@Parameters" />
            }
        </div>
    }
    else
    {
        <div @onclick="CloseModal" class="modal-layout">
            @if (CurrentComponentType != null)
            {
                <DynamicComponent Type="@CurrentComponentType"
                                  Parameters="@Parameters" />
            }
        </div>
    }
}

@code {
    //TODO: АНИМАЦИЙ НЕТ!
    private bool IsVisible { get; set; }
    private bool IsBlockCloseModal { get; set; }
    private Type? CurrentComponentType { get; set; }
    private Dictionary<string, object> Parameters { get; set; } = new();

    protected override void OnInitialized()
    {
        ModalService.OnShow += ShowModal;
        ModalService.OnClose += CloseModal;
    }

    private void ShowModal(ModalData modalData)
    {
        IsBlockCloseModal = modalData.BlockCloseModal;
        IsVisible = true;
        CurrentComponentType = modalData.ComponentType;
        Parameters = modalData.Parameters;
        StateHasChanged();
    }

    private void CloseModal()
    {
        IsVisible = false;
        CurrentComponentType = null;
        Parameters.Clear();
        StateHasChanged();
    }

    public void Dispose()
    {
        ModalService.OnShow -= ShowModal;
        ModalService.OnClose -= CloseModal;
    }
}