.idea-modal-side {
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 16px;
}

.idea-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 16px;
}

.idea-sub-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.advertisement {
    width: 400px;
}

.advertisement-header {
    transition: background-color 5s ease-out;
}

.current-user-advertisement {
    justify-self: end;
}
