.idea-modal {
    position: relative;
    width: 80%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 16px;
    align-self: stretch;
    justify-self: flex-end;
    transition: all .3s ease-out;
}

.modal-layout-enter-active .idea-modal {
    transform: translateX(0);
    animation: slideInRight 0.3s ease-out;
}

.modal-layout-leave-active .idea-modal {
    transform: translateX(100%);
    animation: slideOutRight 0.3s ease-out;
}
