@namespace HITSBlazor.Components.Collapse

@MainContent(this)
<div @ref="_collapseElement"
     class="@ExpandedClass @(_isAnimating ? "collapsing" : (_isExpanded ? "expanded" : "collapsed"))"
     style="@GetCollapseStyle()">
    @ExpandedContent
</div>