@namespace HITSBlazor.Components.Modals.Components.RightSideModaCollapselInfo
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Collapse
@using HITSBlazor.Components.Modals.RightSideModals.IdeaModal
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Skills
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Models.Common.Enums
@using HITSBlazor.Models.Ideas.Entities
@using HITSBlazor.Utils.Models

<ul class="rounded-3 @(IsLoading ? "p-2 bg-white d-flex flex-column gap-1" : "list-group")">
    @if (IsLoading)
    {
        @for (int i = 0; i < Data.Count; ++i)
        {
            <Placeholder Height="PlaceholderHeight.Smaller" />
        }
    }
    else
    {
        @foreach (var data in Data)
        {
            <li class="list-group-item p-0 overflow-hidden">
                <Collapse StartCollapsed="StartCollapsed">
                    <MainContent Context="collapse">
                        <Button Text="@data.Title"
                                Variant="ButtonVariant.Light"
                                ButtonClass="w-100 collapse-controller"
                                OnButtonClick="() => collapse.Toggle()" />
                    </MainContent>
                    <ExpandedContent>
                        <div class="list-group">
                            <div class="p-2">
                                @if (data.Data is List<Skill>)
                                {
                                    <div class="d-flex flex-wrap gap-1">
                                        <Skills SkillList="(List<Skill>)data.Data" />
                                    </div>
                                }
                                else
                                {
                                    @data.Data
                                }
                            </div>
                        </div>
                    </ExpandedContent>
                </Collapse>
            </li>
        }
    }
</ul>

@code {
    [Parameter]
    public bool IsLoading { get; set; } = false;

    [Parameter]
    public List<CollapseItem> Data { get; set; } = [];

    [Parameter]
    public bool StartCollapsed { get; set; } = false;
}