@using HITSBlazor.Components

<PageTitle>Восстановление пароля</PageTitle>

<div class="page-layout">
    <div class="page-layout__content-wrapper w-100">
        <div class="page-layout__content page-layout__content--no-header recovery-pass__content p-3">
            <form @onsubmit="HandleRecovery" @onsubmit:preventDefault="true" class="form-layout p-3 rounded-3 shadow">
                <span class="fs-3 text-primary text-center">Восстановление пароля</span>
                <div class="input-group">
                    <span class="input-group-text fs-6">&#64;</span>
                    <input type="text"
                           @bind="recoveryModel.Email"
                           @bind:event="oninput"
                           class="form-control"
                           placeholder="Введите почту" />
                </div>
                <button type="submit" class="btn btn-primary" disabled="@isLoading">
                    @if (isLoading)
                    {
                        <span class="spinner-border spinner-border-sm me-2" role="status"></span>
                        <span>Отправка...</span>
                    }
                    else
                    {
                        <span>Отправить</span>
                    }
                </button>
            </form>
        </div>
    </div>
</div>