@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Collapse
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Modals.Components.CenterModalHeader
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Users.Entities
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Models.Users.Requests
@using HITSBlazor.Services
@using HITSBlazor.Services.Modal
@using HITSBlazor.Services.Users
@using HITSBlazor.Utils.Models
@using HITSBlazor.Utils.Validation

<div @onclick:stopPropagation="true" class="edit-user-modal p-3 rounded bg-white">
    <CenterModalHeader HeaderText="Редактировать" />
    <div class="edit-user-modal-inputs w-100">
        <Input IconStyle="&#64;" 
               Placeholder="Введите email" 
               NeedValidation="_submitted"
               CustomValidation="UserValidation.EmailValidation"
               @bind-Value="UpdateUserRequest.Email" />
        <Input IconStyle="bi-fonts"
               Placeholder="Введите имя"
               NeedValidation="_submitted"
               CustomValidation="UserValidation.FirstNameValidation"
               @bind-Value="UpdateUserRequest.FirstName" />
        <Input IconStyle="bi-fonts"
               Placeholder="Введите фамилию"
               NeedValidation="_submitted"
               CustomValidation="UserValidation.LastNameValidation"
               @bind-Value="UpdateUserRequest.LastName" />
        <Input IconStyle="bi-telephone-fill"
               Placeholder="Введите номер телефона"
               NeedValidation="_submitted"
               CustomValidation="UserValidation.TelephoneValidation"
               @bind-Value="UpdateUserRequest.Telephone" />
        <Input IconStyle="bi-person-lines-fill"
               Placeholder="Введите учебную группу"
               NeedValidation="_submitted"
               CustomValidation="UserValidation.StudyGroupValidation"
               @bind-Value="UpdateUserRequest.StudyGroup" />
        <Collapse StartCollapsed="!_showRoles" ExpandedClass="w-100">
            <MainContent Context="collapse">
                <Button BtnType="ButtonType.Button"
                        Text="Роли"
                        IconStyle="@(String.Format("flip-icon {0} bi-chevron-up", _showRoles ? "active" : string.Empty))"
                        ButtonClass="px-2 py-0"
                        OnButtonClick="async () => 
                        {
                            _showRoles = !_showRoles;
                            await collapse.Toggle();
                        }" />
            </MainContent>
            <ExpandedContent>
                <div class="list-group">
                    @foreach (var role in Enum.GetValues<RoleType>())
                    {
                        <div class="d-flex">
                            <div class="d-flex">
                                <input type="checkbox"
                                       checked="@UpdateUserRequest.Roles.Contains(role)"
                                       @onchange="@(e => OnRoleTypeChanged(role, (bool)e.Value!))"
                                       class="form-check-input drop-down-item" />
                                <Typography CustomClass="form-check-label ms-2 drop-down-item">
                                    @(EnumViewModel<RoleType>.GetTranslation(role))
                                </Typography>
                            </div>
                        </div>
                    }
                </div>
            </ExpandedContent>
        </Collapse>
    </div>
    <Button BtnType="ButtonType.Button" 
            Text="Сохранить изменения"
            IsLoading="_submitting"
            LoadingText="Сохранение изменений"
            Variant="ButtonVariant.Primary"
            OnButtonClick="UpdateUser" />
</div>