@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Typography
@using HITSBlazor.Services.Modal
@using HITSBlazor.Utils.Models

<div @onclick:stopPropagation="true" class="edit-user-modal p-3 rounded bg-white">
    <div class="edit-user-modal-header w-100">
        <Typography FontSize="3" TextColor="ElementStyle.Primary">
            Редактировать
        </Typography>
        <Button BtnType="ButtonType.Button" 
                ButtonClass="btn-close" 
                OnButtonClick="() => ModalService.Close(ModalType.Center)" />
    </div>
    <div class="edit-user-modal-inputs w-100">
        <Input IconStyle="&#64;" 
               Placeholder="Введите email" 
               NeedValidation="true" 
               @bind-Value="_value" />
        <Input IconStyle="bi-fonts"
               Placeholder="Введите имя"
               NeedValidation="true" 
               @bind-Value="_value" />
        <Input IconStyle="bi-fonts"
               Placeholder="Введите фамилию"
               NeedValidation="true"
               @bind-Value="_value" />
        <Input IconStyle="bi-telephone-fill"
               Placeholder="Введите номер телефона"
               NeedValidation="true"
               @bind-Value="_value" />
        <Input IconStyle="bi-person-lines-fill"
               Placeholder="Введите учебную группу"
               NeedValidation="true"
               @bind-Value="_value" />
    </div>
    <Button BtnType="ButtonType.Button" 
            Text="Сохранить изменения" 
            Variant="ElementStyle.Primary"
            OnButtonClick="() => Console.WriteLine()"/>
</div>

@code {
    [Inject]
    private ModalService ModalService { get; set; } = null!;

    private string _value = string.Empty;
}