@namespace HITSBlazor.Components.Modals.CenterModals.SkillModal
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Inputs.RadioDropdown
@using HITSBlazor.Components.Inputs.Select
@using HITSBlazor.Components.Modals.Components.CenterModalHeader
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Models.Common.Enums
@using HITSBlazor.Services
@using HITSBlazor.Services.Modal
@using HITSBlazor.Services.Skills
@using HITSBlazor.Utils.EnumUIConverters
@using HITSBlazor.Utils.Models

<div @onclick:stopPropagation="true" class="skill-modal p-3 rounded-3">
    <CenterModalHeader IsLoading="_isLoading"
                       HeaderText="@(Skill is not null ? "Редактировать компетенцию" : "Создать компетенцию")"
                       FontSize="@(Skill is not null ? 4 : 3)" />
    <div class="skill-modal-inputs w-100">
        <Input IsLoading="_isLoading"
               Label="Название компетенции" 
               Placeholder="Введите название компетенции" 
               @bind-Value="SkillName" />
        <Select IsLoading="_isLoading"
                Label="Тип компетенции"
                @bind-Value="SelectedSkillType" 
                Options="_skillTypeOptions" />
        <Button IsLoading="_isLoading"
                InProgress="_submitting"
                Text="Сохранить" 
                LoadingText="Сохранение" 
                Variant="ButtonVariant.Primary"
                OnButtonClick="SendSkill" />
    </div>
</div>