/* КНОПКИ */
.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: var(--bs-border-radius);
    background-color: var(--primary-color);
    transition: all 0.15s ease-in-out;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: white !important;
}

    .btn-primary:hover {
        background-color: #0b5ed7 !important;
        border-color: #0a58ca !important;
    }

    .btn-primary:active,
    .btn-primary:focus:active {
        background-color: #0a58ca !important;
        border-color: #0a53be !important;
        box-shadow: none !important;
        outline: none !important;
    }

    .btn-primary:focus {
        box-shadow: none !important;
        outline: none !important;
    }

    .btn-primary:disabled,
    .btn-primary.disabled {
        background-color: var(--primary-color) !important;
        border-color: var(--primary-color) !important;
        opacity: 0.65 !important;
        cursor: not-allowed;
    }

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn:focus-visible {
    outline: 2px solid #0d6efd !important;
    outline-offset: 2px !important;
}
