/* Основные стили макета */
.page-layout {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.page-layout__content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-layout__content {
    flex: 1;
    overflow-y: auto;
}

.page-layout__content--no-header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page__content,
.register-page__content,
.recovery-pass__content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

/* Форма логина */
.form-layout {
    width: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

/* Ссылка "Забыли пароль?" */
.forgot-password-link {
    display: block !important;
    text-align: center !important;
    text-decoration: underline !important;
    color: var(--primary-color) !important;
    transition: color 0.15s ease-in-out !important;
}

    .forgot-password-link:hover {
        color: #0b5ed7 !important;
        text-decoration: underline !important;
    }
