/* Bootstrap Icons */
@font-face {
    font-display: block;
    font-family: "bootstrap-icons";
    src: url("../fonts/bootstrap-icons.02685dab.woff2") format("woff2");
}

.bi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

    .bi::before,
    [class*=" bi-"]::before,
    [class^=bi-]::before {
        display: inline-block;
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-weight: 400 !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: -.125em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

.bi-key::before {
    content: "\f44f";
}

.bi-arrow-left::before {
    content: "\f12f";
}

.bi-check-circle-fill::before {
    content: "\f26a";
}

.bi-info-circle::before {
    content: "\f431";
}

.bi-fonts::before {
    content: "\f3da";
}

.bi-telephone::before {
    content: "\f5c1";
}

.bi-people::before {
    content: "\f4d0";
}
