.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f5f9;
    z-index: 1000000;
    transition: all 0.25s;
}

.content {
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

@keyframes outerRotate1 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes outerRotate2 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes textColour {
    0% {
        color: #fff;
    }

    100% {
        color: #1e40af;
    }
}

.e-loadholder {
    width: 240px;
    height: 240px;
    border: 5px solid #60a5fa;
    border-radius: 120px;
    box-sizing: border-box;
}

    .e-loadholder:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-51%, -50%);
        content: " ";
        display: block;
        background: #f1f5f9;
        transform-origin: center;
        z-index: 0;
    }

    .e-loadholder:after {
        width: 100px;
        height: 100%;
        animation: outerRotate2 30s infinite linear;
    }

    .e-loadholder .m-loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-51%, -50%);
        width: 200px;
        height: 200px;
        color: #888;
        text-align: center;
        border: 5px solid #2563eb;
        border-radius: 100px;
        box-sizing: border-box;
        z-index: 20;
        text-transform: uppercase;
    }

        .e-loadholder .m-loader:after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-51%, -50%);
            content: " ";
            display: block;
            background: #f1f5f9;
            transform-origin: center;
            z-index: -1;
        }

        .e-loadholder .m-loader:after {
            width: 100px;
            height: 106%;
            animation: outerRotate1 15s infinite linear;
        }

        .e-loadholder .m-loader .e-text {
            font-size: 14px;
            line-height: 130px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-51%, -50%);
            animation: textColour 1s alternate linear infinite;
            display: block;
            width: 140px;
            height: 140px;
            text-align: center;
            border: 5px solid #1e40af;
            border-radius: 70px;
            box-sizing: border-box;
            z-index: 20;
        }

            .e-loadholder .m-loader .e-text:before, .e-loadholder .m-loader .e-text:after {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-51%, -50%);
                content: " ";
                display: block;
                background: #f1f5f9;
                transform-origin: center;
                z-index: -1;
            }

            .e-loadholder .m-loader .e-text:before {
                width: 110%;
                height: 40px;
                animation: outerRotate2 3.5s infinite linear;
            }

            .e-loadholder .m-loader .e-text:after {
                width: 40px;
                height: 110%;
                animation: outerRotate1 8s infinite linear;
            }
