.modal-layout {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    background-color: rgba(0,0,0,.365);
    display: grid;
    transition: opacity .15s ease-out;
}

.modal-layout-enter-active {
    opacity: 1;
    animation: fadeIn 0.15s ease-out;
}

.modal-layout-leave-active {
    opacity: 0;
    animation: fadeOut 0.15s ease-out;
}

.right-side-modal {
    position: relative;
    height: 100%;
    width: 80%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 16px;
    align-self: stretch;
    justify-self: flex-end;
    transition: all .3s ease-out;
}

.right-side-modal-header, .right-side-modal-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 16px;
}

.right-side-modal-content {
    width: 100%;
}

.modal-layout-enter-active .right-side-modal {
    transform: translateX(0);
    animation: slideInRight 0.3s ease-out;
}

.modal-layout-leave-active .right-side-modal {
    transform: translateX(100%);
    animation: slideOutRight 0.3s ease-out;
}

.center-modal {
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 12px;
    align-self: center;
    align-items: stretch;
    justify-self: center;
    justify-content: stretch;
    transition: all .15s ease-out;
}

.modal-layout-enter-active .center-modal {
    transform: scale(1);
    animation: scaleIn 0.15s ease-out;
}

.modal-layout-leave-active .center-modal {
    transform: scale(0.9);
    animation: scaleOut 0.15s ease-out;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleOut {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0.9);
        opacity: 0;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}
