.page-content-with-header {
    height: auto;
}

.page-content-no-header {
    height: 100vh;
}

.list-page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.filter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 8px;
}

.filter-choices {
    max-height: 192px;
    overflow-y: scroll;
}

.filter-choice {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    transition: background-color;
}