* {
    padding: 0;
    margin: 0;
    border: 0;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: url('../images/backgroundImage.webp') center #ffffff;
    background-size: cover;
}

#blazor-error-ui {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    padding: 0.75rem;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}

.validation-message {
    display: none !important;
}

.page-content-with-header {
    height: auto;
}

input[type="checkbox"] {
    cursor: pointer;
    transform: scale(1.2);
}

.btn {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.bi {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
}

.data-link {
    cursor: pointer;
}

    .data-link:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 1px
    }