.select-role-modal {
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 12px;
    align-self: center;
    align-items: stretch;
    justify-self: center;
    justify-content: stretch;
    transition: all .15s ease-out;
}
