@namespace HITSBlazor.Components.Modals.CenterModals.SelectActiveRoleModal
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Typography
@using HITSBlazor.Utils
@using HITSBlazor.Utils.EnumTranslators
@using HITSBlazor.Utils.Models

<div @onclick:stopPropagation="true"
     class="center-modal p-3 rounded bg-white">
    <Typography FontSize="3" TextColor="ElementStyle.Primary" CustomClass="text-center">
        Доступные роли
    </Typography>
    @foreach (var role in Roles)
    {
        <Button BtnType="ButtonType.Button" 
                Variant="ElementStyle.Primary" 
                OnButtonClick="() => SetUserRole(role)" 
                Text="@role.GetTranslation()" />
    }
</div>