@namespace HITSBlazor.Components.Modals.CenterModals.SelectActiveRoleModal
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Utils.Models

<div @onclick:stopPropagation="true" class="center-modal p-3 rounded bg-white">
    <Typography FontSize="3" TextColor="TextColor.Primary" CustomClass="text-center">
        Доступные роли
    </Typography>
    @foreach (var role in Roles)
    {
        <Button BtnType="ButtonType.Button" 
                Variant="ButtonVariant.Primary" 
                OnButtonClick="() => SetUserRole(role)" 
                Text="@(EnumViewModel<RoleType>.GetTranslation(role))" />
    }
</div>