@namespace HITSBlazor.Components.UsersColumn
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Responses
@using HITSBlazor.Models.Users.Entities
@using HITSBlazor.Pages
@inherits ListPageDataLoader

<div class="users-column w-50">
    <Input IsLoading="IsLoading" Label="@HeaderText" Placeholder="Найти" ValueChanged="@((value) => SearchUser(value))" DebounceDelay="DebounceDelay" />
    <div class="users-column-side p-2 h-100 overflow-scroll border rounded-3">
        @if (IsLoading)
        {
            @for (int i = 0; i < (HeaderText.Length / 2); ++i)
            {
                <Placeholder />
            }
        }
        else
        {
            @foreach (var user in _users)
            {
                <div class="px-1 rounded border users-column-user" @onclick="() => OnElementSelected(user)">
                    <Typography FontSize="6">@user.FullName</Typography>
                </div>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public bool IsLoading { get; set; } = false;

    [Parameter]
    public string HeaderText { get; set; } = string.Empty;

    [Parameter]
    public List<User> AllUsers { get; set; } = [];

    [Parameter]
    public EventCallback<User> SelectedUserChanged { get; set; }

    [Parameter]
    public Func<int, string?, Task<ListDataResponse<User>>>? DataLoaderMethod { get; set; }

    [Parameter]
    public int DebounceDelay { get; set; } = 0;

    private string _searchText = string.Empty;
    private List<User> _users = [];

    protected override async Task OnInitializedAsync()
    {
        if (DataLoaderMethod is not null)
        {
            await LoadUsersAsync();
            MarkAsInitialized();
        }
        else
        {
            _users = AllUsers.ToList();
        }
    }

    protected override void OnParametersSet() => SearchUser(_searchText);
    
    protected override async Task OnLoadMoreItemsAsync()
        => await LoadUsersAsync(append: true);

    protected override int GetCurrentItemsCount() => _users.Count;

    private void SearchUser(string searchText)
    {
        _searchText = searchText;
        if (string.IsNullOrWhiteSpace(_searchText))
            _users = AllUsers.ToList();
        else 
            _users = AllUsers.Where(u => u.FullName.Contains(_searchText, StringComparison.CurrentCultureIgnoreCase)).ToList();
    }

    private async Task OnElementSelected(User user) => await SelectedUserChanged.InvokeAsync(user);

    private async Task LoadUsersAsync(bool append = false)
    {
        if (DataLoaderMethod is not null)
        {
            await LoadDataAsync(
                AllUsers,
                () => DataLoaderMethod.Invoke(_currentPage, _searchText),
                append: append
            );

            _users = AllUsers.ToList();
        }
    }
}