@namespace HITSBlazor.Components.UsersColumn
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Responses
@using HITSBlazor.Models.Users.Entities
@using HITSBlazor.Pages
@inherits ListPageDataLoader

<div class="users-column w-50">
    <Input IsLoading="IsLoading" Label="@HeaderText" Placeholder="Найти" ValueChanged="@((value) => SearchUser(value))" DebounceDelay="DebounceDelay" />
    <div class="users-column-side p-2 h-100 overflow-scroll border rounded-3">
        @if (IsLoading)
        {
            @for (int i = 0; i < (HeaderText.Length / 2); ++i)
            {
                <Placeholder />
            }
        }
        else
        {
            @foreach (var user in _users.Where(u => DisplayPredicate?.Invoke(u) ?? true))
            {
                <div class="px-1 rounded border users-column-user" @onclick="() => OnElementSelected(user)">
                    <Typography FontSize="6" TextColor="DisplayTextColorPredicate?.Invoke(user)">@user.FullName</Typography>
                </div>
            }
        }
    </div>
</div>