@namespace HITSBlazor.Components.PageHeader
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Modals.CenterModals.SelectActiveRoleModal
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Users.Entities
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Services
@using HITSBlazor.Services.Auth
@using HITSBlazor.Services.Modal
@using HITSBlazor.Utils.EnumUIConverters
@using HITSBlazor.Utils.Models

<div class="bg-white border-bottom w-100 position-sticky" 
     style="top: 0; right: 0; bottom: auto; left: 0; z-index: 6; height: min-content;">
    <div class="py-2 px-3 bg-white w-100 d-flex flex-row flex-nowrap align-items-center justify-content-between">
        <div class="d-flex gap-2 align-items-center">
            <div class="rounded-circle overflow-hidden" 
                 style="height: 58px; min-height: 58px; max-height: 58px; width: 58px; min-width: 58px; max-width: 58px;">
                <img class="text-secondary" width="58" height="58" src="/images//defProfile.png" />
            </div>
            <div class="d-flex gap-1 flex-column">
                <Typography FontSize="6" OnClick="() => ShowUserProfile()" CustomClass="fw-semibold">
                    @CurrentUser?.FullName
                </Typography>
                <Button ButtonClass="btn-outline-success btn-sm rounded-4 py-1"
                        IconStyle="bi-circle-fill"
                        IconSize="fs-6"
                        Style="width: fit-content;"
                        Text="@EnumUIConverter.GetInfo(CurrentRole).DisplayText"
                        OnButtonClick="() => ShowRoleModal()" />
            </div>
        </div>
        <Button Variant="ButtonVariant.Primary"
                ButtonClass="position-relative"
                IconStyle="bi-bell-fill"
                OnButtonClick="() => ShowNotificationModal()" />
    </div>
</div>