.height-small {
    height: 50px;
}

.height-medium {
    height: 100px;
}

.height-third {
    height: 300px;
}

.height-medium-200 {
    height: 200px;
}

.height-large {
    height: 100%;
}

.height-large-500 {
    height: 500px;
}
