.height-small {
    height: 50px !important;
}

.height-medium {
    height: 100px !important;
}

.height-third {
    height: 300px !important;
}

.height-medium-200 {
    height: 200px !important;
}

.height-large {
    height: 100% !important;
}

.height-large-500 {
    height: 500px !important;
}
