/* Стандартные классы плейсхолдера Bootstrap */
.placeholder {
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    cursor: wait;
    opacity: 0.5;
}

.placeholder-glow .placeholder {
    animation: placeholder-glow 2s ease-in-out infinite;
}

@keyframes placeholder-glow {
    50% {
        opacity: 0.2;
    }
}

/* Кастомные высоты */
.height-small {
    height: 50px;
}

.height-medium {
    height: 100px;
}

.height-third {
    height: 300px;
}

.height-medium-200 {
    height: 200px;
}

.height-large {
    height: 100%;
}

.height-large-500 {
    height: 500px;
}
