@namespace HITSBlazor.Components.FavouriteNotifications
@using HITSBlazor.Components.NotificationTab
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Entities

<div class="w-100 d-flex flex-column gap-3">
    @if (FavNotifications != null && FavNotifications.Any())
    {
        @foreach (var notification in FavNotifications)
        {
            <NotificationTab Notification="notification"
                            OnAddFavorite="OnAddFavorite"
                            OnRemoveFavorite="OnRemoveFavorite" />
        }
    }
    else
    {
        <Typography ClassName="w-100 text-center text-secondary">
            Добавляйте в избранное важные уведомления
        </Typography>
    }
</div>

@code {
    [Parameter] public List<Notification>? FavNotifications { get; set; }
    [Parameter] public EventCallback<Notification> OnAddFavorite { get; set; }
    [Parameter] public EventCallback<Notification> OnRemoveFavorite { get; set; }
}
