@namespace HITSBlazor.Components.Modals.Components.CenterModalHeader
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Typography
@using HITSBlazor.Services.Modal

<div class="center-modal-header w-100">
    <Typography FontSize="FontSize" TextColor="TextColor.Primary" CustomClass="text-center">
        @HeaderText
    </Typography>
    <Button ButtonClass="btn-close"
            OnButtonClick="CloseModal" />
</div>

@code {
    [Inject]
    public ModalService ModalService { get; set; } = null!;

    [Parameter]
    public string HeaderText { get; set; } = string.Empty;

    [Parameter]
    public int FontSize { get; set; } = 3;

    private async Task CloseModal() => await ModalService.Close(ModalType.Center);
}