@namespace HITSBlazor.Components.ProjectViewComponents.ProjectViewActiveSprintComponent
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Hint
@using HITSBlazor.Components.ProjectViewComponents.ProjectViewActiveSprintTasks
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Utils.EnumUIConverters

@using HITSTaskStatus = HITSBlazor.Models.Projects.Enums.TaskStatus;

<div>
    <div class="active-sprint-header mt-4 mb-2 w-100">
        <div class="active-sprint-header-name border-bottom w-100">
            <div class="data-link fs-5 fw-semibold text-primary">
                @ActiveSprint?.Name
            </div>
            <Typography FontSize="6">
                (до @ActiveSprint?.FinishDate.ToString("dd.MM.yyyy"))
            </Typography>
        </div>
        @if (AuthService.CurrentUser?.Role is RoleType.TeamLeader or RoleType.Initiator or RoleType.Admin)
        {
            <Button IsLoading="IsLoading"
                    Variant="ButtonVariant.Danger" 
                    Text="Завершить спринт" 
                    Style="width: 100%; margin-left: 16px; max-width: fit-content;"
                    OnButtonClick="ShowFinishSprintModal" />                            
        }
    </div>
    <div class="active-sprint-columns w-100">
        <ProjectViewActiveSprintTask CurrentSprint="ActiveSprint" TaskCategory="HITSTaskStatus.NewTask" />
        <ProjectViewActiveSprintTask CurrentSprint="ActiveSprint" TaskCategory="HITSTaskStatus.InProgress" />
        <ProjectViewActiveSprintTask CurrentSprint="ActiveSprint" TaskCategory="HITSTaskStatus.OnVerification" />
        <ProjectViewActiveSprintTask CurrentSprint="ActiveSprint" TaskCategory="HITSTaskStatus.OnModification" />
        <ProjectViewActiveSprintTask CurrentSprint="ActiveSprint" TaskCategory="HITSTaskStatus.Done" />
    </div>
</div>