@page "/"
@using HITSBlazor.Components.Button
@using HITSBlazor.Models.Users.Entities
@using HITSBlazor.Services
@using HITSBlazor.Services.Auth
@using System.Security.Claims
@inject IAuthService AuthService
@inject GlobalNotificationService NotificationService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Button Type="button"
        Text="Выйти" 
        Variant="primary" 
        ClassName="w-100"
        OnClick="Logout"/>

@code {
    private User? CurrentUser => AuthService.CurrentUser;

    private async Task Logout()
    {
        var temp = await AuthService.LogoutAsync();
        NotificationService.ShowError(temp.Error ?? "ошиПка");
    }
}
