@namespace HITSBlazor.Components.Hint

<span class="hint-trigger"
      @ref="_triggerRef"
      @onmouseenter="ShowTooltip"
      @onmouseleave="HideTooltip">
    @if (ChildContent is null)
    {
        <i class="bi bi-patch-question @GetIconClass()"></i>
    }
    else
    {
        @ChildContent
    }
</span>
<span class="hint-tooltip @(_isReady ? "visible" : "")" @ref="_tooltipRef">
    @((MarkupString)Text)
</span>