.new-idea, .idea-form-submit-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.idea-form {
    align-items: center;
    gap: 12px;
}

.idea-form-submit-buttons {
    gap: 16px;
}

.hint {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    color: #007bff;
}
