@namespace HITSBlazor.Pages.Auth.Login
@using HITSBlazor.Components
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Typography
@using HITSBlazor.Services
@using HITSBlazor.Utils.Models

<PageTitle>Авторизация</PageTitle>

<div class="w-100 overflow-y-scroll auth-card-layout">
    <div class="p-3 auth-card">
        <form @onsubmit="HandleLogin" @onsubmit:preventDefault="true" 
              class="p-3 rounded-3 shadow auth-card-content"
              style="margin-top: 0em; margin-block-end: 1em;">
            <Typography FontSize="3" TextColor="ElementStyle.Primary" CustomClass="text-center">
                Авторизация
            </Typography>
            <Input IconStyle="&#64;" 
                   Placeholder="Введите логин" 
                   @bind-Value="loginModel.Email" />
            <Input InputType="InputType.Password" 
                   IconStyle="bi-key" 
                   Placeholder="Введите пароль" 
                   @bind-Value="loginModel.Password" />
            <a href="/recovery-password" class="text-center">
                Забыли пароль?
            </a>
            <!-- TODO: зачем мне form? -->
            <Button BtnType="ButtonType.Submit" 
                    Variant="ElementStyle.Primary" 
                    IsLoading="isLoading" 
                    Text="Войти" 
                    LoadingText="Вход" />
        </form>
    </div>
</div>