@namespace HITSBlazor.Components.NotificationTabsPlaceholder
@using HITSBlazor.Components.LoadingPlaceholder

<div class="w-100 d-flex flex-column gap-3">
    @for (int i = 0; i < 3; i++)
    {
        <div class="w-100 p-2 border bg-white rounded-3">
            <div class="d-flex justify-content-between">
                <div class="w-50">
                    <LoadingPlaceholder Height="@PlaceholderHeight.Small" />
                </div>
                <div class="w-25">
                    <LoadingPlaceholder Height="@PlaceholderHeight.Small" />
                </div>
            </div>

            <hr class="my-2 hr hr-blurry" />

            <LoadingPlaceholder Height="@PlaceholderHeight.Medium" />
        </div>
    }
</div>
