.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.btn-maxWidth {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}
