@namespace HITSBlazor.Components.Modals.ModalContainer

@if (IsVisible)
{
    <div @onclick="CloseModalIfAllowed"
         class="modal-layout modal-layout-@(IsClosing ? "leave" : "enter")-active">
        @if (CurrentComponentType != null)
        {
            <DynamicComponent Type="@CurrentComponentType"
                              Parameters="@Parameters" />
        }
    </div>
}