.modal-layout {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    background-color: rgba(0,0,0,.365);
    display: grid;
    transition: opacity .15s ease-out;
}

.modal-layout-enter-active {
    opacity: 1;
    animation: fadeIn 0.15s ease-out;
}

.modal-layout-leave-active {
    opacity: 0;
    animation: fadeOut 0.15s ease-out;
}
