@namespace HITSBlazor.Components.ListPageComponents.ListPageHeader
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Typography

<div class="w-100 list-page-header">
    <Typography FontSize="2" TextColor="TextColor.Primary">
        @HeaderText
    </Typography>
    <div class="d-flex gap-3">
        @if (ShowCreateButton)
        {
            <Button Variant="ButtonVariant.Primary"
                    Text="@CreateButtonText"
                    IconStyle="@CreateButtonIconStyle"
                    OnButtonClick="() => OnButtonClick.InvokeAsync()" />
        }
    </div>
</div>

@code {
    [Parameter]
    public string HeaderText { get; set; } = string.Empty;

    [Parameter]
    public bool ShowCreateButton { get; set; } = false;

    [Parameter]
    public string CreateButtonIconStyle { get; set; } = "bi-plus-lg";

    [Parameter]
    public string CreateButtonText { get; set; } = string.Empty;

    [Parameter]
    public EventCallback OnButtonClick { get; set; }
}