@using HITSBlazor.Components.ActionMenus.BaseActionMenu
@using HITSBlazor.Components.InputSearch
@using HITSBlazor.Components.Skills
@using HITSBlazor.Components.Statuses.EnumStatus
@using HITSBlazor.Components.Tables.TableActionMenu
@using HITSBlazor.Components.Tables.TableBodyRow
@using HITSBlazor.Components.Tables.TableComponent
@using HITSBlazor.Pages
@inherits ListPageDataLoader

<InputSearch Width="50" IsLoading="_isLoading" ValueChanged="@((value) => SearchData(value))" DebounceDelay="500" />
<TableComponent IsLoading="_isLoading" HeaderItems="RequestsTableHeader" TableActionMenuIsEnable="true" @ref="_tableComponent">
    <TableContent>
        @foreach (var request in _requestsTeamsToIdea)
        {
            <tr>
                <td class="py-3 col">
                    <div class="d-flex">
                        <input type="checkbox" class="form-check-input mb-1" />
                    </div>
                </td>
                <TableBodyRow>
                    <div class="data-link" @onclick="() => ShowTeam(request.TeamId)">
                        @request.Name
                    </div>
                </TableBodyRow>
                <TableBodyRow>
                    <EnumStatus Statustype="request.Status" />
                </TableBodyRow>
                <TableBodyRow IsCentered="true">
                    @request.MembersCount
                </TableBodyRow>
                <TableBodyRow IsCentered="true">
                    <Skills SkillList="request.Skills" />
                </TableBodyRow>
                <TableActionMenu ItemId="request.TeamId"
                                 StrategyPosition="Strategy.Fixed"
                                 OnAction="@HandleTableMenuClick"
                                 ActionIds="GetActions(request)" />
            </tr>                                            
        }
    </TableContent>
</TableComponent>