@using HITSBlazor.Components.Button
@using HITSBlazor.Services

<PageTitle>Новый пароль</PageTitle>

<div class="w-100 overflow-y-scroll"
     style="flex: 1; display: flex; flex-direction: column; overflow: hidden;">
    <div class="p-3"
         style="height: 100vh; display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: center;">
        <form @onsubmit="HandleResetPassword" @onsubmit:preventDefault="true"
              class="p-3 rounded-3 shadow"
              style="width: 400px; background-color: #fff; flex-direction: column; align-items: stretch; gap: 12px; display: flex; flex-wrap: nowrap; justify-content: flex-start;">
            <span class="fs-3 text-primary text-center">Новый пароль</span>
            <div class="w-100">
                <div class="input-group">
                    <span class="input-group-text fs-6">
                        <i class="bi-fonts" style="@Styles.Bi"></i>
                    </span>
                    <input type="text"
                           @bind="newPasswordModel.Code"
                           @bind:event="oninput"
                           class="form-control"
                           placeholder="Введите код аутентификации"
                           maxlength="6" />
                </div>
            </div>
            <div class="w-100">
                <div class="input-group">
                    <span class="input-group-text fs-6">
                        <i class="bi-key" style="@Styles.Bi"></i>
                    </span>
                    <input type="password"
                           @bind="newPasswordModel.Password"
                           @bind:event="oninput"
                           class="form-control"
                           placeholder="Введите новый пароль" />
                </div>
            </div>
            <button type="submit" disabled="@isLoading"
                    class="btn d-flex btn-primary" style="@Styles.Btn">
                @if (isLoading)
                {
                    <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                    <span>Изменение...</span>
                }
                else
                {
                    <span>Изменить пароль</span>
                }
            </button>
        </form>
    </div>
</div>