@namespace HITSBlazor.Pages.Projects.ProjectView
@using HITSBlazor.Components.ActionMenus.BaseActionMenu
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Filters.CheckboxFilter
@using HITSBlazor.Components.Filters.ResetFilterButton
@using HITSBlazor.Components.Hint
@using HITSBlazor.Components.InputSearch
@using HITSBlazor.Components.ListPageComponents.ListPageHeader
@using HITSBlazor.Components.Modals.Components.RightSideModaCollapselInfo
@using HITSBlazor.Components.Modals.Components.RightSideModalInfoItemComponent
@using HITSBlazor.Components.NavigationTabs
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.ProjectViewComponents.ProjectViewActiveSprintComponent
@using HITSBlazor.Components.ProjectViewComponents.ProjectViewActiveSprintTaskContent
@using HITSBlazor.Components.ProjectViewComponents.ProjectViewBacklogComponent
@using HITSBlazor.Components.ProjectViewComponents.ProjectViewInfoComponent
@using HITSBlazor.Components.ProjectViewComponents.ProjectViewSprintComponent
@using HITSBlazor.Components.Statuses.EnumStatus
@using HITSBlazor.Components.Tables.TableActionMenu
@using HITSBlazor.Components.Tables.TableBodyRow
@using HITSBlazor.Components.Tables.TableComponent
@using HITSBlazor.Components.Tables.TableHeader
@using HITSBlazor.Components.TaskComponent
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Models.Projects.Enums
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Utils.EnumUIConverters
@using HITSBlazor.Utils.Models

@using HITSTaskStatus = HITSBlazor.Models.Projects.Enums.TaskStatus;

<div class="bg-white h-auto">
    <div class="px-4 py-3 h-100">
        @if (_isLoading)
        {
            <Placeholder Height="PlaceholderHeight.Smaller" />
        }
        else
        {
            <div class="d-flex gap-3 align-items-center mb-2">
                <Typography FontSize="4" TextColor="TextColor.Primary">
                    @_currentProject?.Name
                </Typography>
                <EnumStatus Statustype="_currentProject?.Status" />
            </div>
        }
        <div>
            <!-- TODO: сделать категорию со всей статистикой проекта, кто сколько сделал, какой прогресс спринтов и так далее -->
            <div class="px-3">
                <NavigationTabs T="ProjectViewCategory"
                                Tabs="GetCategoryTabs()"
                                ActiveTab="_activeCategory"
                                ActiveTabChanged="(value) => ChangeCategory(value)"
                                NavType="NavigationTabType.Tabs"
                                NavLinkClass="fw-normal pb-1" />
            </div>
            @if (_activeCategory is ProjectViewCategory.Info)
            {
                <ProjectViewInfo CurrentProjectMember="_currentMember" CurrentProject="_currentProject" IsLoading="_isLoading" />
            }
            else if (_activeCategory is ProjectViewCategory.Backlog)
            {
                <ProjectViewBacklog CurrentProject="_currentProject" IsLoading="_isLoading" />
            }
            else if (_activeCategory is ProjectViewCategory.Sprints)
            {
                <ProjectViewSprintComponent CurrentProject="_currentProject"
                                            IsLoading="_isLoading" />
            }
            else if (_activeSprint is not null && _activeCategory is ProjectViewCategory.ActiveSprint)
            {
                <ProjectViewActiveSprint CurrentProject="_currentProject"
                                         CurrentMember="_currentMember"
                                         ActiveSprint="_activeSprint"
                                         IsLoading="_isLoading" />
            }
        </div>
    </div>
</div>

@if (DragDrop.DraggedTask != null)
{
    <div class="drag-overlay" style="left: @($"{DragDrop.MouseX}px"); top: @($"{DragDrop.MouseY}px");">
        @if (DragDrop.DraggedFromCategory == HITSTaskStatus.InBackLog.ToString())
        {
            <div style="width: 400px;">
                <TaskComponent Task="DragDrop.DraggedTask"
                               TaskWidth="100"
                               CollapseTaskAllowed="false"
                               ShowTaskModalAllowed="false"
                               StripTaskName="true"
                               DeleteTaskAllowed="false" />
            </div>
        }
        else
        {
            <div class="drag-card shadow-lg">
                <div class="d-flex">
                    <ProjectViewActiveSprintTaskContent CurrentTask="DragDrop.DraggedTask" />
                </div>
            </div>
        }
    </div>
}