@namespace HITSBlazor.Components.Tables.TableComponent
@using HITSBlazor.Components.ActionMenus.BaseActionMenu
@using HITSBlazor.Components.Filters.FilterContainer
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Statuses.BoolStatus
@using HITSBlazor.Components.Statuses.EnumStatus
@using HITSBlazor.Components.Tables.TableActionMenu
@using HITSBlazor.Components.Tables.TableBodyRow
@using HITSBlazor.Components.Tables.TableHeader
@using System.Reflection
@using HITSBlazor.Models.Ideas.Entities
@using HITSBlazor.Models.Teams.Entities
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Services.Auth
@using HITSBlazor.Utils.Attributes
@using HITSBlazor.Utils.EnumStyles

<div class="w-100 d-flex">
    <div class="w-100">
        <table class="table table-hover mb-0">
            @if (HeaderItems.Count > 0)
            {
                <TableHeader IsLoading="IsLoading"
                             TableActionMenuIsEnable="TableActionMenuIsEnable" 
                             Items="HeaderItems"
                             OrderChanged="(value) => ExecuteOrder(value.Item1, value.Item2)" />
            }
            <tbody>
                @if (IsLoading)
                {
                    @for (int i = 0; i < 5; ++i)
                    {
                        <tr>
                            @if (HeaderItems.Count > 0)
                            {
                                @foreach (var header in HeaderItems)
                                {
                                    <td>
                                        <Placeholder Height="PlaceholderHeight.Smaller" />
                                    </td>
                                }
                            }
                            else
                            {
                                @for (int j = 0; j < 6; ++j)
                                {
                                    <td>
                                        <Placeholder Height="PlaceholderHeight.Smaller" />
                                    </td>
                                }
                            }
                        </tr>
                    }
                }
                else
                {
                    @TableContent
                }
            </tbody>
        </table>
        @if (IsDataLoading)
        {
            <div class="text-center py-3">
                <div class="spinner-border spinner-border-sm text-primary" role="status">
                    <span class="visually-hidden">Загрузка...</span>
                </div>
            </div>
        }
    </div>
    @if (FilterContent is not null)
    {
        <FilterContainer>
            @FilterContent
        </FilterContainer>
    }
</div>

@code {
    [Parameter]
    public bool IsLoading { get; set; } = false;

    [Parameter]
    public bool IsDataLoading { get; set; } = false;

    [Parameter]
    public List<TableHeaderItem> HeaderItems { get; set; } = [];

    [Parameter]
    public Func<string?, bool?, Task>? OrderMethod { get; set; }

    [Parameter]
    public bool TableActionMenuIsEnable { get; set; } = false;

    [Parameter]
    public RenderFragment? TableContent { get; set; }

    [Parameter]
    public RenderFragment? FilterContent { get; set; }

    private async Task ExecuteOrder(string? value1, bool? value2)
    {
        if (OrderMethod is null) return;

        await OrderMethod(value1, value2);
    }
}