@namespace HITSBlazor.Components.Modals.CenterModals.SprintModal
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Inputs.TextArea
@using HITSBlazor.Components.Modals.Components.CenterModalHeader
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.TaskComponent
@using HITSBlazor.Components.Typography
@using HITSBlazor.Pages
@inherits ListPageDataLoader

<div @onclick:stopPropagation="true" class="sprint-modal bg-white rounded px-4 py-3">
    <div class="sprint-form w-100 mb-1">
        <CenterModalHeader HeaderText="@(CurrentSprint is null ? "Создание спринта" : "Редактирование спринта")" />
        <div class="sprint-form-content d-flex gap-3 mt-1 w-100">
            <div class="sprint-form-content-tasks d-flex gap-4">
                <div class="d-flex flex-column w-100">
                    <div class="sprint-form-backlog-name border-bottom">
                        <Typography FontSize="5" TextColor="TextColor.Secondary">
                            Бэклог
                        </Typography>
                        <i class="bi bi-plus sprint-form-backlog-add p-1 rounded" @onclick="() => ModalService.ShowTaskModal()"></i>
                    </div>
                    <div class="d-flex flex-column mt-3" @ref="_tableContainer">
                        @foreach (var task in _allTasksInBacklog.Where(t => !_sprintTasks.Contains(t)))
                        {
                            <TaskComponent Task="task" StripTaskName="true" OnClickTask="() => SelectTask(task)" />
                        }
                    </div>
                </div>
                <div class="d-flex flex-column w-100">
                    <div class="border-bottom">
                        <Typography FontSize="5" TextColor="TextColor.Secondary">
                            Выбранные задачи
                        </Typography>
                    </div>
                    <div class="d-flex flex-column mt-3">
                        @foreach (var task in _sprintTasks)
                        {
                            <TaskComponent Task="task" StripTaskName="true" OnClickTask="() => UnSelectTask(task)" />
                        }
                    </div>
                </div>
            </div>
            <div class="sprint-form-form">
                <div class="d-flex flex-column gap-3 w-100">
                    <Input IsLoading="_isLoading"
                           Label="Название спринта" 
                           Placeholder="Введите название спринта" 
                           @bind-Value="Name" />
                    <TextArea IsLoading="_isLoading"
                              Label="Цель" 
                              Placeholder="Введите цель спринта"
                              @bind-Value="Goal" />
                    <Input IsLoading="_isLoading"
                           Label="Начало спринта"
                           InputType="InputType.Date"
                           @bind-Value="StartDate" />
                    <Input IsLoading="_isLoading"
                           Label="Конец спринта"
                           InputType="InputType.Date"
                           @bind-Value="FinishDate" />
                    @if (_isLoading)
                    {
                        <Placeholder />
                    }
                    else
                    {
                        <div class="d-flex gap-1">
                            <div class="text-primary">
                                Трудомкость команды (часы):
                            </div>
                            <div>@WorkingHours</div>
                        </div>
                    }
                </div>
                @if (CurrentSprint is null)
                {
                    <Button Text="Сохранить изменения"
                            Variant="ButtonVariant.Primary"
                            ButtonClass="w-100"
                            OnButtonClick="CreateSprint" />
                }
                else
                {
                    <Button Text="Создать спринт"
                            Variant="ButtonVariant.Primary"
                            ButtonClass="w-100"
                            OnButtonClick="UpdateSprint" />
                }
            </div>
        </div>
    </div>
</div>