@namespace HITSBlazor.Components.InputDropdowns.SkillDropdown
@using HITSBlazor.Components.Inputs.CheckboxDropdown
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Skills
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Models.Common.Enums
@using HITSBlazor.Utils.EnumStyles
@using HITSBlazor.Utils.Models

<div class="w-25">
    <CheckboxDropdown T="Skill"
                      IsLoading="IsLoading"
                      AllValues="AllSkills"
                      Placeholder="@Placeholder"
                      @bind-SelectedValues="SelectedSkills"
                      CreateValueAllowed="true"
                      ValueMustCreated="(value) => CreateNewSkill(value)" />
    @if (!IsLoading && SelectedSkills.Any())
    {
        <div class="mt-2">
            <div class="d-flex flex-wrap gap-1">
                <Skills RemoveSkillsAllowed="true" 
                        SkillList="SelectedSkills"
                        SkillListChanged="(newList) => SelectedSkills = new HashSet<Skill>(newList)" />
            </div>
        </div>
    }
</div>