@namespace HITSBlazor.Pages.Auth.RecoveryPassword
@using HITSBlazor.Components
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Typography
@using HITSBlazor.Services
@using HITSBlazor.Utils
@using HITSBlazor.Utils.Models

<PageTitle>Восстановление пароля</PageTitle>

<div class="w-100 overflow-y-scroll auth-card-layout">
    <div class="p-3 auth-card">
        <form @onsubmit="HandleRecovery" @onsubmit:preventDefault="true" 
              class="p-3 rounded-3 shadow auth-card-content">
            <Typography FontSize="3" TextColor="ElementStyle.Primary" CustomClass="text-center">
                Восстановление пароля
            </Typography>
            <Input IconStyle="&#64;" 
                   Placeholder="Введите почту" 
                   @bind-Value="recoveryModel.Email" />
            <!-- TODO: зачем мне form? -->
            <Button BtnType="ButtonType.Submit" 
                    Variant="ElementStyle.Primary" 
                    IsLoading="isLoading" 
                    Text="Отправить"
                    LoadingText="Отправка" />
        </form>
    </div>
</div>