@namespace HITSBlazor.Components.Modals.RightSideModals.RightSideModalContainer

@if (ModalService.SideModals.Count != 0)
{
    var modal = ModalService.SideModals.Peek();
    <div @onclick="() => CloseModalIfAllowed(modal.BlockCloseModal)"
         class="modal-layout modal-layout-@modal.State.ToString().ToLower()-active"
         style="z-index: 500;">
        <DynamicComponent Type="@modal.ComponentType"
                          Parameters="@modal.Parameters" />
    </div>
}