@namespace HITSBlazor.Components.Modals.RightSideModals.RightSideModalContainer

@if (_isContainerVisible)
{
    <div @onclick="CloseModalIfAllowed"
         class="modal-layout modal-layout-@(_isContainerClosing ? "leave" : "enter")-active">
        @if (_currentComponentType != null)
        {
            <DynamicComponent Type="@_currentComponentType"
                              Parameters="@_parameters" />
        }
    </div>
}