@namespace HITSBlazor.Components.Modals.CenterModals.TagModal
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Modals.Components.CenterModalHeader
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Services
@using HITSBlazor.Services.Modal
@using HITSBlazor.Services.Tags

<div @onclick:stopPropagation="true" class="tag-modal p-3 rounded-3">
    <CenterModalHeader IsLoading="_isLoading" HeaderText="@(Tag is not null ? "Редактировать тег" : "Создать тег")" />
    <div class="tag-modal-inputs w-100">
        <Input IsLoading="_isLoading"
               Label="Название тега" 
               Placeholder="Введите название тега" 
               @bind-Value="TagName" />
        @if (_isLoading)
        {
            <Placeholder Width="w-25" />
            <Placeholder Height="PlaceholderHeight.Smaller" />
        }
        else
        {
            <div class="w-100">
                <label class="form-label text-primary">
                    Цвет тега
                </label>
                <div class="input-group">
                    <input type="color"
                           @bind="TagColor"
                           @bind:event="oninput"
                           class="form-control form-control form-control-color" />
                </div>
            </div>
        }
        <Button IsLoading="_isLoading"
                InProgress="_submitting"
                Text="Сохранить" 
                LoadingText="Сохранение" 
                Variant="ButtonVariant.Primary"
                OnButtonClick="SendTag" />
    </div>
</div>