.role-modal {
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: stretch;
    gap: 12px;
    align-self: center;
    justify-self: center;
    transition: all .15s ease-out;
}

.modal-layout-enter-active .role-modal {
    transform: scale(1);
    animation: scaleIn 0.15s ease-out;
}

.modal-layout-leave-active .role-modal {
    transform: scale(0.9);
    animation: scaleOut 0.15s ease-out;
}
