@namespace HITSBlazor.Components.Modals.SelectActiveRoleModal
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Services
@using HITSBlazor.Services.Auth
@using HITSBlazor.Services.Modal
@using HITSBlazor.Utils
@using HITSBlazor.Utils.EnumTranslators
@inject IAuthService AuthService
@inject ModalService ModalService

<div @onclick:stopPropagation="true"
     class="role-modal p-3 rounded bg-white">
    <span class="fs-3 text-primary text-center">Доступные роли</span>
    @foreach (var role in Roles)
    {
        <button type="button" @onclick="() => SetUserRole(role)" class="btn d-flex btn-primary">
            @role.GetTranslation()
        </button>
    }
</div>

@code {
    public List<RoleType> Roles { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        Roles = AuthService.CurrentUser?.Roles ?? [];
    }

    private async void SetUserRole(RoleType role)
    {
        await AuthService.SetUserRoleAsync(role);
        ModalService.Close();
    }
}