.left-side-bar {
    position: relative;
    z-index: 8;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    background-color: transparent;
    transition: all 0.15s ease-out;
}

.left-side-bar__content {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.left-side-bar__link {
    border-radius: 6px;
    transition: background-color 0.2s ease;
}

    .left-side-bar__link:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }

.left-side-bar__button {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
}

.left-side-bar--opened {
    width: 312px;
    background-color: rgba(0, 0, 0, 0.73);
    color: white;
    padding: 1rem;
}

.left-side-bar--closed {
    width: 80px;
    background-color: transparent;
    padding: 1rem 0.5rem;
}

.left-side-bar--animating {
    transition: all 0.15s ease-out;
}

/* Анимации */
@keyframes openLeftSideBar {
    from {
        width: 80px;
        background-color: transparent;
    }

    to {
        width: 312px;
        background-color: rgba(0, 0, 0, 0.73);
    }
}

@keyframes closeLeftSideBar {
    from {
        width: 312px;
        background-color: rgba(0, 0, 0, 0.73);
    }

    to {
        width: 80px;
        background-color: transparent;
    }
}
