.team-modal-side {
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 16px;
}

.team-modal-tables {
    max-height: 430px;
    overflow-y: auto;
    overflow-x: visible;
    position: relative;
}

.tead-modal-table-label {
    position: sticky;
    top: 0;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
}

.nav-link {
    cursor: pointer;
}

.team-modal-placeholder {
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 16px;
}