@namespace HITSBlazor.Components.Filters.SkillFilter
@using HITSBlazor.Components.Inputs.Checkbox
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Pages
@using HITSBlazor.Services.Auth
@using HITSBlazor.Services.Skills
@using HITSBlazor.Services.UserSkills
@inherits ListPageDataLoader

<div class="w-100">
    @if (IsOnLoadingNow)
    {
        <Placeholder Width="w-25" />
    }
    else
    {
        <Typography FontSize="6" CustomClass="fw-semibold">
            Стек технологий
        </Typography>
    }
    <Input IsLoading="IsOnLoadingNow"
           Placeholder="Найти"
           CustomClass="my-1"
           Value="@SeacrhSkillText"
           ValueChanged="@((value) => SearchSkill(value))"
           DebounceDelay="500" />
    @if (IsOnLoadingNow)
    {
        @for (int i = 0; i < 6; ++i)
        {
            <Placeholder />
        }
    }
    else
    {
        <div class="filter-choices" @ref="_tableContainer">
            @foreach (var skill in _skills)
            {
                <div class="filter-choice px-2 py-1 rounded-1">
                    <Checkbox Checked="SelectedSkillIds.Contains(skill.Id)"
                              DisplayText="@skill.Name"
                              OnClick="() => SelectedSkillsChanged(skill.Id)" />
                    @if (_userSkillIds.Contains(skill.Id))
                    {
                        <i class="bi bi-star-fill text-warning"></i>
                    }
                </div>
            }
        </div>
    }
</div>