@namespace HITSBlazor.Components.ListPageComponents.ListPageTable

<div class="w-100 d-flex">
    <div class="w-100">
        <table class="table table-hover mb-0">
            @TableContent
        </table>
    </div>
    @if (FilterContent is not null)
    {
        <div class="list-page-filter w-25 bg-white p-2 ms-2 border-start">
            @FilterContent
        </div>
    }
</div>

@code {
    [Parameter]
    public RenderFragment? TableContent { get; set; } 

    [Parameter]
    public RenderFragment? FilterContent { get; set; }
}