.modal-layout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5); /* blur эффект */
    display: grid;
    place-items: center;
    opacity: 1;
    transition: opacity 0.3s ease;
}

    .modal-layout.fade-in {
        animation: fadeIn 0.3s ease forwards;
    }

    .modal-layout.fade-out {
        animation: fadeOut 0.3s ease forwards;
    }

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
