.modal-layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
}

/* Анимация появления */
.modal-layout-enter {
    opacity: 0;
}

.modal-layout-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.modal-layout-leave {
    opacity: 1;
}

.modal-layout-leave-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
}
