@namespace HITSBlazor.Components.Statuses.EnumStatus
@using HITSBlazor.Utils.EnumUIConverters
@using HITSBlazor.Utils.Models

@{
    var uiResult = EnumUIConverter.GetInfo(Statustype);
    <div class="px-2 py-1 rounded-4 @CustomClass @uiResult.DisplayStyle">
        @uiResult.DisplayText
    </div>
}

@code {
    [Parameter]
    public Enum? Statustype { get; set; }

    [Parameter]
    public string CustomClass { get; set; } = string.Empty;
}