@namespace HITSBlazor.Components.Modals.CenterModals.CompanyModal
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Inputs.RadioDropdown
@using HITSBlazor.Components.Modals.Components.CenterModalHeader
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Typography
@using HITSBlazor.Components.UsersColumn
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Models.Users.Entities
@using HITSBlazor.Services.Companies
@using HITSBlazor.Services.Users
@using HITSBlazor.Utils.Validation

<div @onclick:stopPropagation="true" class="company-modal p-3 bg-white rounded-3">
    <CenterModalHeader IsLoading="_isLoading"
                       HeaderText="@(CompanyId.HasValue ? "Редактирование компании" : "Создание компании")" />
    <Input IsLoading="_isLoading"
           Label="Название компании:"
           Placeholder="Введите название компании"
           @bind-Value="CompanyName" />
    <RadioDropdown T=User
                   IsLoading="_isLoading"
                   Label="Выберите руководителя компании:"
                   Placeholder="Руководитель компании"
                   @bind-Value="SelectedOwner"
                   DataLoaderMethod="async (page, searchText) => await UserService.GetUsersAsync(page, searchText: searchText)" />
    <div class="d-flex justify-content-between gap-3">
        <UsersColumn IsLoading="_isLoading"
                     HeaderText="Пользователи:"
                     SelectedUserChanged="SelectUser"
                     DataLoaderMethod="async (page, searchText) => await UserService.GetUsersAsync(page, searchText: searchText)"
                     DebounceDelay="500"/>
        <UsersColumn IsLoading="_isLoading"
                     HeaderText="Представители компании:"
                     AllUsers="_companyUsers.ToList()"
                     SelectedUserChanged="UnSelectUser" />
    </div>
    <Button IsLoading="_isLoading"
            Variant="ButtonVariant.Primary"
            InProgress="_submitting"
            Text="@(CompanyId.HasValue ? "Сохранить изменения" : "Добавить")"
            LoadingText="@(CompanyId.HasValue ? "Сохранение" : "Добавление")"
            OnButtonClick="SendCompany" />
</div>