@namespace HITSBlazor.Pages.Auth.NewPassword
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Typography
@using HITSBlazor.Services
@using HITSBlazor.Utils
@using HITSBlazor.Utils.Models

<PageTitle>Новый пароль</PageTitle>

<div class="w-100 overflow-y-scroll auth-card-layout">
    <div class="p-3 auth-card">
        <div class="p-3 rounded-3 shadow auth-card-content">
            <Typography FontSize="3" TextColor="TextColor.Primary" CustomClass="text-center">
                Новый пароль
            </Typography>
            <Input IconStyle="bi-fonts" 
                   Placeholder="Введите код аутентификации" 
                   MaxLength="6" 
                   @bind-Value="newPasswordModel.Code" />
            <Input InputType="InputType.Password" 
                   IconStyle="bi-key" 
                   Placeholder="Введите новый пароль" 
                   @bind-Value="newPasswordModel.Password" />
            <Button BtnType="ButtonType.Button" 
                    Variant="ButtonVariant.Primary" 
                    IsLoading="isLoading" 
                    Text="Изменить пароль"
                    LoadingText="Изменение"
                    OnButtonClick="HandleResetPassword" />
        </div>
    </div>
</div>