@namespace HITSBlazor.Components.Modals.ShowUserModal

<div class="right-side-modal p-3 overflow-y-scroll">
    <div class="w-100">
        <div class="right-side-modal-header mb-3">
            <button type="button" class="btn d-flex btn-primary">
                <i class="bi bi-backspace-fill fs-5"></i>
                Назад
            </button>
            <span class="p-2 w-100 bg-white rounded-3 fs-4 text-primary text-nowrap overflow-scroll-hidden">
                USER_FIRST_NAME USER_LAST_NAME
            </span>
        </div>
        <div class="w-100">
            <div class="d-flex flex-column gap-3 w-75">
                <div class="w-100 bg-white border p-3 rounded-3 d-flex flex-column gap-3" style="height: fit-content;">
                    <div class="d-flex justify-content-center w-100">
                        <button class="position-relative p-0 border-radius-circle">
                            <img class="text-secondary" width="150" height="150" src="/images//defProfile.png" />
                        </button>
                    </div>
                    <div class="w-100 d-flex flex-wrap justify-content-center gap-1">
                        <div class="w-auto">
                            <div class="text-center rounded-pill px-2 py-1 bg-primary text-light">
                                ACTIVE_ROLE_NAME
                            </div>
                            <div class="text-center border rounded-pill p-2 px-2 py-1 bg-light">
                                ROLE_NAME
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100 bg-white border p-3 rounded-3">
                    <div class="user-info-header border-bottom pb-1">
                        <span class="fs-5 text-primary">Информация</span>
                    </div>
                    <div class="user-info-content p-2">
                        <div class="w-100 d-flex flex-column gap-2">

                        </div>
                    </div>
                </div>
            </div>
            <div class="user-info mb-3">

            </div>
        </div>
    </div>
</div>