@namespace HITSBlazor.Components.Inputs.CheckboxDropdown
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Enums
@using HITSBlazor.Pages
@using HITSBlazor.Utils.EnumStyles
@using HITSBlazor.Utils.Models
@typeparam T where T : ViewModelBase
@inherits ListPageDataLoader

<div class="w-100" tabindex="-1">
    @if (IsLoading)
    {
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <Placeholder Width="w-25" />
        }
        <Placeholder Height="PlaceholderHeight.Smaller" />
    }
    else
    {
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <label class="form-label mb-2 text-primary">
                @Label
            </label>
        }
        <div style="position: relative;">
            <div class="w-100">
                <div class="input-group">
                    <input type="text"
                           @ref="_inputRef"
                           @oninput="@(async e => await OnSearch(e))"
                           placeholder="@($"{Placeholder}{(SelectedValues.Count > 0 ? $" ({SelectedValues.Count})" : "")}")"
                           class="form-control"
                           style="color: #000 !important;"
                           @onclick="OpenDropdown"
                           @onfocus="OpenDropdown"
                           @onkeydown="OnInputKeyDown" />
                </div>
            </div>

            @if (!_isOpen)
            {
                <i class="input-dropdown-icon bi bi-chevron-down" @onclick="ToggleDropdown"></i>
            }

            @if (CheckCreateValueAllowed())
            {
                <i class="input-dropdown-icon bi bi-plus-lg" @onclick="CreateNewValue"></i>
            }

            @if (_isOpen)
            {
                <div class="list-group w-100 dropdown-list"
                     style="top: 42px; right: auto; z-index: 10000; max-height: 173px; overflow-y: scroll; position: absolute; bottom: auto; left: auto;"
                     @onclick:stopPropagation="true">

                    @foreach (var value in _values)
                    {
                        <div @onclick="@(() => OnItemClick(value))"
                             class="d-flex list-group-item list-group-item-action focusable-item"
                             style="padding: 8px 12px; cursor: pointer;"
                             tabindex="-1">
                            <Checkbox Checked="SelectedValues.Contains(value)"
                                      DisplayText="@value.GetDisplayInfo()" />
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>