@namespace HITSBlazor.Components.ListPageComponents.ListPageSearch
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Placeholders.Placeholder

<div class="py-2 d-flex justify-content-between">
    <div class="w-50">
        @if (IsLoading)
        {
            <Placeholder Height="PlaceholderHeight.Smaller" />
        }
        else
        {
            <Input IconStyle="bi-search" Placeholder="Поиск" ValueChanged="@((value) => ValueChanged.InvokeAsync(value))" />
        }
    </div>
</div>

@code {
    [Parameter]
    public bool IsLoading { get; set; } = false;

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
}