@namespace HITSBlazor.Components.LoadingSpinner

@if (IsLoading)
{
    <div class="@GetSpinnerClass()" role="status">
        <span class="visually-hidden">Загрузка...</span>
    </div>
}


@code {
    [Parameter] public bool IsLoading { get; set; }
    [Parameter] public string? Variant { get; set; }
    [Parameter] public string? Size { get; set; } = "sm";
    [Parameter] public string? ClassName { get; set; }

    private string GetSpinnerClass()
    {
        var classes = new List<string> { "spinner-border" };

        if (!string.IsNullOrEmpty(Variant))
            classes.Add($"text-{Variant}");

        if (!string.IsNullOrEmpty(Size))
            classes.Add($"spinner-border-{Size}");

        if (!string.IsNullOrEmpty(ClassName))
            classes.Add(ClassName);

        return string.Join(" ", classes);
    }
}