@namespace HITSBlazor.Components.Modals.RightSideModals.IdeaMarketModal
@using HITSBlazor.Components.ActionMenus.BaseActionMenu
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Forms.RequestTeamToIdeaForm
@using HITSBlazor.Components.InputSearch
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Modals.Components
@using HITSBlazor.Components.Modals.Components.ModalHeader
@using HITSBlazor.Components.Modals.Components.RightSideModaCollapselInfo
@using HITSBlazor.Components.Modals.Components.RightSideModalInfo
@using HITSBlazor.Components.Skills
@using HITSBlazor.Components.Statuses.EnumStatus
@using HITSBlazor.Components.Tables.IdeaMarkets.AcceptedIdeaMarketTeamTable
@using HITSBlazor.Components.Tables.IdeaMarkets.IdeaMarketInvitedTeamsTable
@using HITSBlazor.Components.Tables.IdeaMarkets.IdeaMarketRequestTable
@using HITSBlazor.Components.Tables.TableActionMenu
@using HITSBlazor.Components.Tables.TableBodyRow
@using HITSBlazor.Components.Tables.TableHeader
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Enums
@using HITSBlazor.Models.Markets.Enums
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Utils.Models

<div class="p-3 h-100 overflow-y-scroll right-side-modal" @onclick:stopPropagation="true">
    <div class="idea-market-modal-left-side w-75">
        <RightSideModalHeader HeaderText="@_currentIdeaMarket?.Name" />
        <!-- TODO: уточнить, как выводить блоки информации -->
        @if (AuthService.CurrentUser?.Id != _currentIdeaMarket?.Initiator.Id || AuthService.CurrentUser?.Role is RoleType.Admin)
        {
            <RightSideModaCollapselInfo Data="_ideaData" />
        }
        @if (AuthService.CurrentUser?.Id == _currentIdeaMarket?.Initiator.Id || AuthService.CurrentUser?.Role is RoleType.Admin)
        {
            <div class="bg-white rounded-3">
                <ul class="nav nav-underline border-bottom px-3">
                    @foreach (var category in Enum.GetValues<IdeaMarketTableCategory>())
                    {
                        <div @onclick="() => ChangeCategory(category)" style="cursor: pointer;"
                             class="nav-link fw-normal pb-1 @GetTableCategoryClass(category)">
                            @GetCategoryInfo(category)
                        </div>
                    }
                </ul>
                <div class="idea-market-tables">
                    <div class="w-100 bg-white px-3 pb-3 pt-1">
                        @if (_activeTableCategory is IdeaMarketTableCategory.AcceptedTeam)
                        {
                            <AcceptedIdeaMarketTeamTable IsLoading="_isLoading" CurrentTeam="_currentIdeaMarket?.Team" />
                        }
                        else if (_activeTableCategory is IdeaMarketTableCategory.Requests)
                        {
                            <IdeaMarketRequestTable CurrentIdeaMarket="_currentIdeaMarket" />
                        }
                        else if (_activeTableCategory is IdeaMarketTableCategory.InvitedTeams)
                        {
                            <IdeaMarketInvitedTeamsTable CurrentIdeaMarket="_currentIdeaMarket" />
                        }
                    </div>
                </div>
                @if (_activeTableCategory is IdeaMarketTableCategory.InvitedTeams)
                {
                    <!-- TODO: Добавить клик кнопке -->
                    <Button Variant="ButtonVariant.Primary" 
                            ButtonClass="ms-auto m-3" 
                            Text="Отправить приглашения" />
                }
            </div>
        }
        @if (_currentIdeaMarket is not null 
            && AuthService.CurrentUser?.Role is RoleType.TeamOwner or RoleType.TeamLeader or RoleType.Admin 
            && _currentIdeaMarket.Status is IdeaMarketStatusType.RecruitmentIsOpen
        )
        {
            <RequestTeamToIdeaForm IdeaMarket="_currentIdeaMarket"
                                   ShowSkillsCheckbox="true" 
                                   @bind-SelectedSkills="RequestTeamsSkills" />          
        }
        <div class="bg-white rounded-3">
            <div class="py-2 w-100 border-bottom">
                <Typography FontSize="6" CustomClass="px-3">
                    Объявления
                </Typography>
            </div>
            <div class="d-grid gap-3 pt-3 px-3 w-100">

            </div>
        </div>
    </div>
    <RightSideModalInfo IsSplitted="true" 
                        Skills1="_currentIdeaMarket?.Stack ?? []" 
                        Skills1Label="Компетенции идеи"
                        Skills2="_currentIdeaMarket?.Team?.Skills ?? RequestTeamsSkills"
                        Skills2Label="Компетенции команды"
                        Items="_infoItems" 
                        SearhButtonTest="Поделиться идеей" />
</div>