.idea-market-modal {
    position: relative;
    width: 80%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: column;
    justify-content: flex-start;
    gap: 16px;
    align-self: stretch;
    justify-self: flex-end;
    transition: all .3s ease-out;
}

.idea-market-modal-left-side {
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 16px;
}

.idea-market-tables {
    max-height: 430px;
    overflow-y: scroll;
}