<div class="page-layout">
    <div class="sidebar-container">
        @LeftSideBar
    </div>
    <div class="main-container">
        <div class="header-container">
            @Header
        </div>
        <div class="content-container p-3">
            @Content
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment LeftSideBar { get; set; }

    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }
}

<style>
    .page-layout {
        display: flex;
        height: 100vh;
    }

    .sidebar-container {
        flex: 0 0 280px; /* Фиксированная ширина для сайдбара */
    }

    .main-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .header-container {
        flex-shrink: 0;
    }

    .content-container {
        flex-grow: 1;
        overflow-y: auto; /* Позволяет контенту скроллиться */
    }
</style>
