@typeparam TItem

<div class="@GetPageLayoutClass()">
    @if (LeftSideBar != null)
    {
        <div class="page-layout__leftsidebar bg-white border-end">
            @LeftSideBar
        </div>
    }

    <div class="@GetContentWrapperClass()">
        @if (Header != null)
        {
            <div class="page-layout__header bg-white border-bottom w-100">
                @Header
            </div>
        }

        <div class="@GetContentClass()">
            @if (Content != null)
            {
                @Content
            }
            else if (ChildContent != null)
            {
                @ChildContent
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? LeftSideBar { get; set; }
    [Parameter] public RenderFragment? Content { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public string? Class { get; set; }
    [Parameter] public string? ContentClass { get; set; }
    [Parameter] public string? ContentWrapperClass { get; set; }

    private string GetPageLayoutClass()
    {
        var classes = new List<string> { "page-layout" };
        if (!string.IsNullOrEmpty(Class))
            classes.Add(Class);
        return string.Join(" ", classes);
    }

    private string GetContentClass()
    {
        var classes = new List<string> { "page-layout__content" };

        if (Header != null)
            classes.Add("page-layout__content--with-header");
        else
            classes.Add("page-layout__content--no-header");

        if (!string.IsNullOrEmpty(ContentClass))
            classes.Add(ContentClass);

        return string.Join(" ", classes);
    }

    private string GetContentWrapperClass()
    {
        var classes = new List<string> {
            "page-layout__content-wrapper",
            "w-100",
            "overflow-y-scroll"
        };

        if (!string.IsNullOrEmpty(ContentWrapperClass))
            classes.Add(ContentWrapperClass);

        return string.Join(" ", classes);
    }
}