@namespace HITSBlazor.Components.UserInfoField
@using HITSBlazor.Components.Typography
@using HITSBlazor.Utils
@using HITSBlazor.Utils.Models

<div class="w-100 d-flex flex-column gap-2">
    <div class="d-flex gap-1">
        <Typography FontSize="6" TextColor="TextColor.Primary">
            @Title:
        </Typography>
        @if (IsCurrentUser && !IsEditing)
        {
            <div @onclick="@StartEdit" class="data-link text-secondary cursor-pointer">
                изменить
            </div>
        }
    </div>
    <!-- TODO: заменить на компонент Input -->
    <div class="w-100">
        <div class="input-group">
            <input @ref="_inputRef"
                   value="@Value"
                   @oninput="OnInputChanged"
                   type="text" 
                   class="form-control rounded-end w-100" 
                   disabled="@_inputDisable" />
        </div>
    </div>
</div>
